// Cart table
table.table-striped.js_cart_lines {
    background-color: unset;
    border-spacing: 0;
    // Lines
    & tr {
        background-color: unset;
        & th {
            // background-color: @btn-bg-hover-color;
            border-bottom: 1px solid @btn-color;
        }
        & td {
            border-top: 1px solid @btn-color;
            padding: 8px;
            // Product link
            & a:not(.btn) {
                text-decoration: none;
                &:hover, &:focus, &:active {
                    font-size: @font-size-medium;
                }
            }
            // Remove
            & a.js_delete_product:hover {
                border: none;
            }
            // Qty
            & a.input-group-addon {
                color: @btn-color !important;
                background-color: @btn-bg-hover-color;
                    border: 1px solid @btn-bg-hover-color !important;
                &:hover, &:focus, &:active {
                    font-size: @font-size-base;
                    border: 1px solid @btn-color !important;
                }
            }
        }
    }
}

// Cart Total
#cart_total {
    & span {
        font-size: @font-size-base;
    }
}

/****** Start Cart Popover ******/
//
.popover-title {
    color: @btn-color !important;
    background-color: @color-gray-opacity;
    border-bottom: @color-gray-opacity;
}
// Product line
.cart_line {
    padding-bottom: 9px;
}
// Coupon
.discount-line {
    & span {
        float: left;
    }
}
/****** End Cart Popover ******/