// Address panels
.border_primary {
    border: 1px solid @white-color;
}

// Edit address panels
.btn-link {
    color: @white-color;
    &:hover, &:focus, &:active {
        font-size: 1.5em;
        font-weight: bold;
        color: @white-color;
    }
}

// Review Order -> Change
.oe_website_sale_osc {
    & small, thanks_msg {
        & a {
            color: @btn-bg-color;
            &:hover, &:focus, &:active {
                font-size: 1.5em;
                font-weight: bold;
                color: @white-color;
            }
        }
    }
}

// Review Order Table
.oe_website_sale {
    table {
        background-color: @main-color;
    }
}

// Print Order
h2 {
    & .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
        font-size: 0.4em;
    }
}

