/* Buttons */
.btn-primary, .btn-default, .badge {
    border: 1px solid @btn-bg-color;
    color: @btn-color;
    background-color: @btn-bg-color;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary.active, .btn-primary:active,
.btn-primary:active:hover, .btn-primary:active:focus,
.btn-default:hover, .btn-default:focus, .btn-default.active, .btn-default:active,
.btn-default:active:hover, .btn-default:active:focus {
	border: 1px solid @btn-color;
    background-color: @btn-bg-hover-color;
    font-size: @font-size-medium;
    font-weight: @font-weight-bold;
}

.btn-group > .btn + .dropdown-toggle {
    padding-right: 12px;
    &:hover, &:focus, &:active, &:visited,
    &:active:hover, &:active:focus {
        font-size: 1em;
        padding-left: 12px;
        border: 1px solid @btn-color;
    }
}

.btn-xs {
    &:hover, &:focus, &:active {
        font-size: 1.1em !important;
    }
}

a:not(.a-submit) .navbar-default {
    background-color: @color-gray-opacity;
    color: @btn-color;
    text-decoration: none;
    &:not(.a-submit):hover, &:not(.a-submit):focus, &:not(.a-submit):active {
        font-size: @font-size-medium;
        font-weight: @font-weight-bold;
        color: @btn-color;
        text-decoration: none;
    }
}

// Live Chat
.o_livechat_button {
    background-color: @color-danger;
}
.o_chat_window .o_chat_header {
    background-color: @color-danger;
}
.o_thread_message_core {
    color: #4c4c4c;
    > p {
        color: #4c4c4c;
    }
}
input.o_composer_text_field {
    color: #4c4c4c;
}

/* Inputs groups */
// Input filed
.input-group {
    & input {
        border: 1px solid @btn-color;
    }
    & input.form-control[readonly] {
        border: 1px solid @color-readonly;
    }
}
// Input button
.input-group-btn {
    & a {
        color: @btn-color !important;
        &:hover, &:focus, &:active {
            font-size: @font-size-base;
            border: 1px solid @btn-color !important;
        }
    }
}

// Panels
.panel {
    background-color: @color-gray-opacity;
}

.panel-info {
    border-color: @btn-color;
    & .panel-heading {
        color: @btn-color;
        background-color: @color-gray-opacity;
        border-color: @btn-color;
    }
}

.panel-danger > .panel-heading {
    background-color: #E53434;
    border-color: #fff;
}

// Alerts
.alert-danger {
    color: @color-danger;
    background-color: @color-gray-opacity;
    & h4 {
        font-weight: @font-weight-bold;
    }
}

// Labels
.label {
    padding: .3em .6em .3em;
}
.label-info, .label-primary {
    background-color: @btn-bg-color;
//     &:hover, &:focus, &:active {
//         background-color: @btn-bg-hover-color;
//     }
}

// navs
.nav-pills > li.active > a {
    background-color: @btn-bg-color;
    padding: 6px 15px;
    &:hover, &:focus, &:active {
        font-size: @font-size-medium;
        border: 1px solid @btn-color;
        background-color: @btn-bg-hover-color;
    }
}

.nav-pills > .active > a > .badge {
    color: @btn-color;
    font-weight: @font-weight-bold;
    border-color: @btn-color;
    background-color: @color-main;
    margin-top: 2px;
}

/* Jumbotron */
.jumbotron_home {
    background-color: unset;
    background-position: 15% 48%;
    & h5 {
        margin-top: 40px;
         & span {
            font-weight: @font-weight-bold;
         }
    }
}
@media screen and (min-width: 480px) {
    .jumbotron_home {
        background-position: 10% 48%;
        & h5 {
            margin-top: 40px;
             & span {
                border: 2px solid white;
                padding: 10px 20px;
             }
        }
    }
}
@media screen and (min-width: 768px) {
    .jumbotron_home {
        background-position: 0% 48%;
        & h1 {
            font-size: 120px;
            line-height: 0.5em;
        }
        & h2 {
            font-size: 90px;
            line-height: 0.5em;
        }

    }
}


