/* Buttons */
.btn-primary, btn-default, .badge, .label-primary, input.form-control[readonly] {
    border: 1px solid @btn-bg-color;
    color: @btn-color;
    background-color: @btn-bg-color;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary.active, .btn-primary:active,
.btn-primary:active:hover, .btn-primary:active:focus,
.btn-default:hover, .btn-default:focus, .btn-default.active, .btn-default:active,
.btn-default:active:hover, .btn-default:active:focus,{
	border: 1px solid @btn-color;
    color: @btn-color;
    background-color: @main-color;
    font-size: 1.5em;
    font-weight: bold;
}

.btn-group > .btn + .dropdown-toggle {
    padding-right: 12px;
    &:hover, &:focus, &:active, &:visited,
    &:active:hover, &:active:focus {
        font-size: 1em;
        padding-left: 12px;
        border: 1px solid @btn-color;
    }
}

.btn-xs {
    &:hover, &:focus, &:active {
        font-size: 1.2em !important;
    }
}

a {
    color: @btn-color;
    text-decoration: none;
    &:hover, &:focus, &:active,
    &:active:hover, &:active:focus{
        font-size: 1.5em;
        font-weight: bold;
        color: @btn-color;
        text-decoration: none;
    }
}

.input-group-btn:last-child > .btn.btn-remove, .input-group-btn > .btn.btn-default.a-submit {
    &:hover, &:focus, &:active, &:visited {
        padding: 30px 38px 4px 38px !important;
        color: var(--text-color, @btn-color);
        border: 1px solid @btn-color;
    }
}

// Body text colors
body .text-primary {
    color: @btn-color;
    font-weight: bold;
}

// Dropdown
.dropdown-menu {
    background-color: @btn-bg-color;
    border-color: @btn-bg-color;
        li {
            a {
                color: @btn-color;
                &:hover, &:focus, &:active,
                &:active:hover, &:active:focus {
                    font-size: 1.5em;
                    font-weight: bold;
                    color: @btn-color;
                    background-color: @btn-bg-color;
                }
            }
        }
}

// Panels
.panel {
    background-color: @main-color;
}

.panel-info {
    border-color: @btn-color;
    & .panel-heading {
        color: @btn-color;
        background-color: @main-color;
        border-color: @btn-color;
    }
}

// Alerts
.alert-danger {
    color: @main-color;
}

// Labels
.label {
    padding: .3em .6em .3em;
}
.label-info {
    background-color: @btn-bg-color;
}

// navs
.nav-pills > li.active > a {
    background-color: @btn-bg-color;
    padding: 6px 15px;
    &:hover, &:focus, &:active {
        font-size: 1.3em;
        border: 1px solid @btn-color;
        background-color: @main-color;
    }
}

.nav-pills > .active > a > .badge {
    color: @btn-color;
    font-weight: bold;
    border-color: @btn-color;
    background-color: @main-color;
    margin-top: 2px;
}

// web editor
.o_switch > input + span {
    background-color: @main-color !important;
}
.o_switch > input + span:after {
    background-color: red !important;
}
.o_switch > input:checked + span {
    background-color: @main-color !important;
}
.o_switch > input:checked + span:after {
    background-color: green !important;
}

// hr (For product details. TODO: See another templates with hr and check them)
hr {
    padding: 0;
    margin-bottom: 0;
}

// SEO Modal
 body .modal.o_website_modal h3 {
    font-size: 1.17em;
 }


