footer {
    background-color: @color-bg-footer;
    // links
    & a:not(.a-submit) {
        color: @color-link-footer;
        &:not(.a-submit):hover, &:not(.a-submit):focus, &:not(.a-submit):active, {
            font-size: @font-size-medium;
            font-weight: @font-weight-bold;
            color: @color-hover-link-footer;
            text-decoration: none;
        }
    }
    // Block content
    & #footer {
        border-bottom: @border-footer;
        padding-bottom: @padding-bottom-footer;
    }
    // Contact
    & ul.list-unstyled {
        & li {
            margin-bottom: 3px;
        }
        & .fa-phone {
            padding: 0 2px 0 1px;
        }
        & .fa-envelope {
            padding: 0;
        }
        & .fa-map-marker {
            padding: 0 2px 0 3px;
        }
    }
}
