header {
    // Logo
    & a.navbar-brand img {
        max-height: 50px;
        margin: 0px 0px;
    }
    // Menus
    & .nav {
        & li {
            & a {
                padding-left:10px;
                padding-right: 10px;
            }
        }
    }
    .navbar-default {
        background-color: @color-bg-header;
        border-bottom: @border-header;
        padding: @padding-header;
        & .navbar-nav > li.active {
            font-weight: @font-weight-bold;
        }
        & .navbar-nav > li > a {
            color: @color-text-header;
            &:hover, &:focus, &:active {
                font-size: @font-size-medium;
                font-weight: @font-weight-bold;
                color: @color-hover-header;
            }
        }
    }
    // Dropdown
    & .dropdown-menu {
        border-color: @color-light-gray;
//         background-color: @color-gray;
        background-image: @bg-image-body;
        background-position: @bg-image-position;
        background-repeat: @bg-image-bg-repeat;
        background-size: @bg-image-bg-size;
        li {
            a {
                color: @btn-color;
                &:hover, &:focus, &:active {
                    font-size: @font-size-medium;
                    font-weight: @font-weight-bold;
                    color: @btn-bg-color !important;
//                     background-color: @color-gray;
                    background-image: @bg-image-body;
                    background-position: @bg-image-position;
                    background-repeat: @bg-image-bg-repeat;
                    background-size: @bg-image-bg-size;
                }
            }
        }
    }
}

// Affix Header
body {
    #wrapwrap.o_affix_wrap {
        // General. All pages without wrap
        & main > div:first-child {
            margin-top: 70px !important;
        }
        // All pages with wrap
        & main > div#wrap:first-child {
            margin-top: 50px !important;
        }
        // Just login page
        & main > div.oe_website_login_container {
            margin-top: 100px !important;
        }
        // With editor bar
        & header {
            position: fixed;
            z-index: 999;
            width: 100%;
            top: 34px;
            // Without editor bar
            &.o_affix_header {
                top: 0 !important;
            }
        }
    }
//     #wrapwrap.not_accepted_cookies {
//         // General. All pages without wrap
//         & main > div:first-child {
//             margin-top: 136px !important;
//         }
//         // All pages with wrap
//         & main > div#wrap:first-child {
//             margin-top: 106px !important;
//         }
//         // Just login page
//         & main > div.oe_website_login_container {
//             margin-top: 156px !important;
//         }
//         & header {
//         position: fixed;
//             z-index: 999;
//             width: 100%;
//             top: 56px;
//         }
//     }
}