header {
    // Logo
    & a.navbar-brand img {
        max-height: 40px;
        margin-top: 4px;
    }
    // Menus
    & .nav {
        & li {
            & a {
                padding-left:10px;
                padding-right: 10px;
            }
        }
    }
    .navbar-default{
        background-color: @main-color;
        border-color: @secondary-color;
        & .navbar-nav > li.active{
            font-weight: bold;
        }
        & .navbar-nav > li > a {
            color: @secondary-color;
            &:hover, &:focus, &:active {
                font-size: 1.5em;
                font-weight: bold;
                color: @btn-color;
                background-color: @main-color !important;
            }
        }
    }
}

// Affix Header
body {
    #wrapwrap.o_affix_wrap {
        // General. All pages without wrap
        & main > div:first-child {
            margin-top: 70px !important;
        }
        // All pages with wrap
        & main > div#wrap:first-child {
            margin-top: 50px !important;
        }
        // Just login page
        & main > div.oe_website_login_container {
            margin-top: 100px !important;
        }
        // With editor bar
        & header {
            position: fixed;
            z-index: 999;
            width: 100%;
            top: 34px;
            // Without editor bar
            &.o_affix_header {
                top: 0 !important;
            }
        }
    }
//     #wrapwrap.not_accepted_cookies {
//         // General. All pages without wrap
//         & main > div:first-child {
//             margin-top: 136px !important;
//         }
//         // All pages with wrap
//         & main > div#wrap:first-child {
//             margin-top: 106px !important;
//         }
//         // Just login page
//         & main > div.oe_website_login_container {
//             margin-top: 156px !important;
//         }
//         & header {
//         position: fixed;
//             z-index: 999;
//             width: 100%;
//             top: 56px;
//         }
//     }
}

// Cookies message
#website_cookie_notice {
    & div.row{
        padding-top: 8px;
        padding-bottom: 8px;
    }
}