// Database selector
.oe_website_login_container {
    & .btn-default:hover, .btn-default:focus,
    a:hover, a:focus, a:active {
        font-size: 1em !important;
        padding: 18px 40px;
    }
}