// Margin content
#product_detail {
    margin-top: 32px !important;
}

// Product detail image
#o-carousel-product .carousel-inner div.item {
    padding: 32px;
}
// If publish button for web editors
.btn-group.js_publish_management.css_published {
    padding-top: 8px;
}

// Add Qty
.css_quantity {
    & a {
        border: 1px solid @btn-bg-color;
        color: @btn-color;
        background-color: @btn-bg-color;
    }
    & a:hover, a:focus, &a:active {
        font-size: 1.2em;
        font-weight: @font-weight-bold;
        background-color: @color-main;
        border: 1px solid @color-white;
    }

}